{% extends 'quiz_app/edit_quiz.html' %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <form class="rounded shadow" method="POST" action="">
            {% for question in questions %}
                {% csrf_token %}
                <div>
                    <div class="form-floating mb-3">
                        <label for="quiz-title-form" class="form-label">Question</label>
                        <input class="form-control"
                               id="quiz-title-form"
                               aria-describedby="Question"
                               name="{{ question.id }}"
                               placeholder="Question"
                               value="{{ question.title }}">
                    </div>
                    <ul>
                        {% for option in question.options %}
                            <li>
                                <div class="form-floating mb-3">
                                    <label for="quiz-title-form" class="form-label">Option</label>
                                    <input class="form-control"
                                           id="quiz-title-form"
                                           aria-describedby="Option"
                                           name="{{ option.id }}"
                                           value="{{ option.text }}">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock content %}