{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{ block.super }}Edit Question{% endblock title %}

{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'EditQuestionView' question_id=question.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input id="title" name="title" value="{{ question.title }}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Time:</label>
                <input id="time" name="time" value="{{ question.time.conjugate }}" class="form-control">
            </div>
            <button class="btn btn-primary mt-1" type="submit">Save</button>
        </form>
    </div>
{% endblock content %}