{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}{{ block.super }}Edit Quiz{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Quiz</h2>
        <form method="POST" class="mt-2" action="{% url 'EditQuizView' quiz_id=quiz.id %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input id="title" name="title" value="{{ quiz.title }}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="file-upload-form" class="form-label">Thumbnail:</label>
                <input type="file"
                       class="form-control"
                       id="file-upload-form"
                       aria-describedby="Thumbnail"
                       name="thumbnail">
            </div>
            <button class="btn btn-primary mt-1" type="submit">Save</button>
        </form>

        <hr>
        <button class="btn btn-danger" id="delete-quiz-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete Quiz
        </button>
        <!-- modal to submit to the deletion of quiz -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{ quiz.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this quiz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form method="POST" action="{% url 'DeleteQuiz' quiz_id=quiz.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete Quiz</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal to submit to the deletion of quiz -->
        <hr>
    </div>
    <div class="container">
        <h2>Questions</h2>
        <form class="" method="POST" action="{% url 'QuestionUpdateView' quiz_id=quiz.id %}">
            {% for question in questions %}
                {% csrf_token %}
                <div class="rounded shadow">
                    <div class="m-3">
                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   id="quiz-title-form"
                                   aria-describedby="Question"
                                   name="QUESTION{{ question.id }}"
                                   placeholder="Question"
                                   value="{{ question.title }}">
                            <label for="quiz-title-form">Question</label>
                        </div>
                        <ul>
                            {% for option in options %}
                                {% if option.Question == question %}
                                    <li>
                                        <div class="form-floating mb-3">
                                            <input class="form-control"
                                                   id="quiz-title-form"
                                                   aria-describedby="Option"
                                                   name="OPTION{{ option.id }}"
                                                   value="{{ option.text }}">
                                            <label for="quiz-title-form" class="form-label">Option</label>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary mt-1" type="submit">Save</button>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script rel="script" src="{% static 'quiz_app/js/edit_quiz.js' %}"></script>
{% endblock scripts %}