{% extends 'quiz_app/base.html' %}

{% block title %}{{ block.super }}{{ quiz.title }}{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ quiz.title }}</h1>
        <p>{{ quiz.date_created }}</p>
        {% if request.user == quiz.user %}
            <a href="{% url 'EditQuizView' quiz.id %}">Edit Quiz</a>
        {% endif %}
        <ul>
            {% for question in questions %}
                <li>
                    <span>{{ question.title }} - </span>
                    <span>{{ question.time }} Seconds</span>
                    <ol>
                    {% for option in options %}
                        {% if option.Question == question %}
                            <li>
                                <span>{{ option.Option }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ul>
    <ol>
    {% for option in options %}
            <li>
                <span>{{ option.values }}</span>
            </li>
    {% endfor %}
    </ol>
    </div>
{% endblock content %}