{% extends 'quiz_app/base.html' %}

{% block title %}{{ block.super }}{{ quiz.title }}{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ quiz.title }}</h1>
        <p>{{ quiz.date_created }}</p>
        {% if request.user == quiz.user %}
            <a href="{% url 'EditQuizView' quiz.id %}">Edit Quiz</a>
        {% endif %}
        <ul>
            {% for question in questions %}
                <li>
                    <span>{{ question.title }} - </span>
                    <span>{{ question.time }} Seconds</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}